<div *ngIf="order">
  <h3>{{order.date | date: "dd MMMM YYYY" }}</h3>
  <p>Автомобиль: <strong>{{order.car.mark + ' ' + order.car.model }}</strong></p>
  <p>Пробег на момент выполнения: <strong>{{order.mileage}}км.</strong></p>
  <ol>
    <li *ngFor="let job of order.jobs">
      <p>{{job.overview}} <span>{{job.price}}Р.</span></p>
      <p>{{job.comment}}</p>
    </li>
  </ol>
  <hr>
  <p>Всего работ: <strong>{{order.jobs.length}}</strong></p>
  <p>На сумму: {{totalPrise}}Р. <strong></strong></p>
  <hr *ngIf="order.comment">
  <p>{{order.comment}}</p>
  <div *ngIf="client">
    <button mat-raised-button color="warn" (click)="deleteOrder(order, client)">Удалить заказ</button>
  </div>
</div>
