
<div class="m0auto mw25">
<mat-card  *ngIf="client">
  <mat-card-header>
    <mat-card-title>{{client.name}}</mat-card-title>
    <mat-card-subtitle>{{client.phone}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{client.comment}}</p>
  </mat-card-content>
  <hr>
  <mat-card-actions *ngIf="client.cars">
    <button mat-raised-button (click)="showCars = !showCars">
      Автомобили: {{client.cars ? client.cars.length : '0'}}</button>
  </mat-card-actions>
  <mat-card-actions *ngIf="!client.cars">
    <button mat-raised-button (click)="addCar = !addCar">Добавить автомобиль</button>
  </mat-card-actions>
  <app-create-car [client]="client" *ngIf="addCar"></app-create-car>
  <mat-card-content *ngIf="showCars">

    <app-car *ngFor="let car of client.cars" [car]="car" [client]="client" [openInClient]="true"></app-car>
    <mat-card-actions>
      <button mat-raised-button (click)="addCar = !addCar">Добавить автомобиль</button>
    </mat-card-actions>
    <app-create-car [client]="client" *ngIf="addCar"></app-create-car>
  </mat-card-content>
  <mat-card-actions *ngIf="client.orders">
    <button mat-raised-button (click)="showOrders = !showOrders">
      Заказ-наряды: {{ client.orders.length || '0'}}</button>
  </mat-card-actions>
  <mat-card-content *ngIf="showOrders">
    <div class="flexCol">
      <div *ngFor="let order of client.orders" class="shadow">
        <app-order [order]="order"></app-order>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="createOrder = !createOrder">Добавить заказ-наряд</button>
  </mat-card-actions>
  <mat-card-actions>
    <button mat-raised-button (click)="editClient = !editClient">Редактировать клиента</button>
  </mat-card-actions>
  <mat-card-actions>
    <button mat-raised-button color="warn" (click)="delete(client)">Удалить клиента</button>
  </mat-card-actions>
  <app-create-order *ngIf="createOrder" [client]="client"
                    [car]="client.cars.length === 1 ? client.cars[0] : undefined"></app-create-order>
  <app-create-client *ngIf="editClient" [client]="client"></app-create-client>
</mat-card>

</div>

