<form class="container card" [formGroup]="createClientForm">

  <h3 *ngIf="!client; else editClientH">Создать клиента</h3>
  <ng-template #editClientH>
    <h3>Редактирование клиента</h3>
  </ng-template>


  <mat-form-field class="example-full-width">
    <mat-label>ФИО</mat-label>
    <input matInput placeholder="Введите ФИО клиента" type="text" formControlName="name">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Телефон</mat-label>
    <input matInput placeholder="Введите телефон клиента" type="text" formControlName="phone" value="+7">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Комментарии</mat-label>
    <input matInput placeholder="Введите комментарии" type="text" formControlName="comment">
  </mat-form-field>

  <div *ngIf="!client" class="m0auto mw25">
    <button mat-raised-button (click)="createCar = !createCar">Добавить автомобиль
      <span *ngIf="!createCar">&#709;</span>
      <span *ngIf="createCar">&#708;</span>
    </button>
  </div>

  <app-create-car *ngIf="createCar && !client" (newCarEvent)="addCar($event)"></app-create-car>

  <div class="success" *ngIf="doneCar">
    <p>Автомобиль добавлен {{car[(car.length - 1)].mark}} {{car[(car.length - 1)].model}}</p>
    <button mat-raised-button (click)="doneCar = false; createCar = false">Ок</button>
  </div>

  <div *ngIf="!client; else editClientBtn">
    <button mat-raised-button color="primary" [disabled]="createClientForm.invalid" (click)="createClient($event)">
      Создать клиента
    </button>
  </div>

  <ng-template #editClientBtn>
    <button mat-raised-button color="primary" [disabled]="createClientForm.invalid" (click)="editClient($event)">
      Редактировать клиента
    </button>
  </ng-template>

</form>

<div class="success" *ngIf="doneClient">
  <p *ngIf="!client">Клиент создан</p>
  <p *ngIf = 'client'>Клиент изменен </p>
  <button mat-raised-button (click)="doneClient = false">Ок</button>
</div>

<div class="error" *ngIf="error">
  <p>{{error.code}}</p>
  <p>{{error.message}}</p>
</div>
