<form class="container" [formGroup]="createJobForm" (click)="done = false">
  <h3>Добавление работ</h3>

  <mat-form-field class="example-full-width">
    <mat-label>Описание</mat-label>
    <input matInput placeholder="Описание" type="text" formControlName="overview">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Стоимость</mat-label>
    <input matInput placeholder="Стоимость" type="number" formControlName="price">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Комментарий</mat-label>
    <input matInput placeholder="Комментарий" type="text" formControlName="comment">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="submit($event)" [disabled]="createJobForm.invalid">Добавить
    работу
  </button>

</form>

<div class="success" *ngIf="done">
  <p>Работа добавлена</p>
  <button mat-raised-button (click)="done = false">Ок</button>
</div>
