<form class="container" [formGroup]="regForm">

  <mat-form-field class="example-full-width">
    <mat-label>Введите email</mat-label>
    <input matInput placeholder="Email" type="email" formControlName="email">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Введите пароль</mat-label>
    <input matInput placeholder="Password" type="password" formControlName="password" >
  </mat-form-field>

  <button mat-raised-button [disabled]="regForm.invalid" (click)="submit($event)">Регистрация</button>
</form>
