<app-error [error]="IError" *ngIf="IError"></app-error>
<mat-spinner *ngIf="loading && !IError; else loaded" class="loader"></mat-spinner>

<ng-template #loaded>


  <div>
    <h4>Выберите категорию</h4>
    <mat-form-field>
      <mat-label>Категория работ</mat-label>
      <mat-select [formControl]="selectedType">
        <mat-option *ngFor="let type of types$ | async" [value]="type" >
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button (click)="console.log(selectedType)">test</button>
  </div>
  <div>
    <div *ngFor="let job of jobs$ | async">
      <app-job [job]="job"></app-job>
    </div>
  </div>
</ng-template>
