<app-error [error]="IError" *ngIf="IError"></app-error>
<mat-spinner *ngIf="loading && !IError; else loaded" class="loader"></mat-spinner>

<ng-template #loaded>


  <div class="container">
    <h4>Выберите категорию</h4>
    <mat-form-field>
      <mat-label>Категория работ</mat-label>
      <mat-select [formControl]="selectType">
        <mat-option (click)="filterJobsByType($event)" value="Все категории">Все категории</mat-option>
        <mat-option (click)="filterJobsByType($event)" value="Без категории">Без категории</mat-option>
        <mat-option *ngFor="let type of types$ | async" (click)="filterJobsByType($event)" [value]="type" >
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <form class="container">
    <h4>Поиск работ</h4>
    <mat-form-field>
      <mat-label>Поиск по названию</mat-label>
      <input type="text"
             placeholder="Введите название"
             aria-label="Поиск по названию"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let job of filteredOptions | async" [value]="job.overview">
          {{job.overview}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <div>
    <div *ngFor="let job of filteredJobs" class="card">
      <app-job [job]="job"></app-job>
    </div>
  </div>
</ng-template>
