.card {
  max-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 40px;
  font-size: 1.3rem;
  box-shadow: 1px 1px 3px #2f6fff;
  border-radius: 20px;
  padding: 10px;
}


