<div class="card">
<mat-card class="example-card" *ngIf="job && !editing; else edit" >
  <mat-card-header>
    <mat-card-title>{{job.overview}}</mat-card-title>
    <mat-card-subtitle>Стоимость: <strong style="color: black">{{job.price}}₽</strong></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf="job.comment">
    <p >{{job.comment}}</p>
  </mat-card-content>
  <mat-card-actions >
    <button mat-raised-button (click)="editing = true">Редактировать</button>
  </mat-card-actions>
</mat-card>

<ng-template #edit>
  <app-create-job [IJob]="job" (newJobEvent)="addItem($event)"></app-create-job>
</ng-template>
</div>

