<!--<div *ngIf="car">-->
<!--<div (click)="fullView = true"-->
<!--     *ngIf="!fullView; else closeFullView">-->
<!--  {{car.mark}} {{car.model}}-->
<!--  <strong>Открыть полное описание</strong>-->
<!--</div>-->
<!--<ng-template #closeFullView>-->
<!--  <div (click)="fullView = false">{{car.mark}} {{car.model}} <strong>Закрыть полное описание</strong></div>-->
<!--</ng-template>-->
<!--  <hr>-->
<!--<div *ngIf="fullView" class="shadow">-->
<!--  <p><span>Марка:{{car.mark}}</span> {{ ' ' }}<span>Модель:{{car.model}}</span></p>-->
<!--  <p><span>Год выпуска:{{car.year}}</span></p>-->
<!--  <p>VIN:{{car.vin}}</p>-->
<!--  <p>Пробег:{{car.mileage}}км.</p>-->
<!--  <p>Госномер:{{car.number}}</p>-->
<!--  <p>Комментарии:{{car.comment}}</p>-->
<!--</div>-->
<!--</div>-->

<mat-card class="example-card" *ngIf="car">
  <mat-card-header>
    <mat-card-title>{{car.mark + ' ' + car.model + ' ' + car.year + ' ' + 'г.в.'}} </mat-card-title>
    <mat-card-subtitle>{{car.vin}}</mat-card-subtitle>
    <mat-card-subtitle>{{car.number}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{car.mileage}}</p>
    <p>{{car.comment}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Редактировать</button>
    <button mat-button>Удалить</button>
  </mat-card-actions>
</mat-card>
