<mat-card class="example-card" *ngIf="car">
  <mat-card-header>
    <mat-card-title>{{car.mark + ' ' + car.model + ' ' + car.year + ' ' + 'г.в.'}} </mat-card-title>
    <mat-card-subtitle>VIN: {{car.vin}}</mat-card-subtitle>
    <mat-card-subtitle>Госномер: {{car.number}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Пробег: {{car.mileage}}км.</p>
    <p>Комментарии: {{car.comment}}</p>
  </mat-card-content>
  <mat-card-actions *ngIf="openInClient; else openInOrder">
    <button mat-button>Редактировать</button>
    <button mat-button >Удалить</button>
  </mat-card-actions>
  <ng-template #openInOrder>
    <mat-card-actions #openInOrder>
      <button mat-button (click)="addNewItem(car)">Выбрать</button>
    </mat-card-actions>
  </ng-template>
</mat-card>
