<nav>
  <div>
    <button mat-raised-button color="primary">Добавить клиента</button>
    <button mat-raised-button color="primary">Клиенты</button>
    <button mat-raised-button color="primary">Заказы</button>
    <button mat-raised-button color="primary">Работы</button>
  </div>
  <div *ngIf="authObserve$ | async; else notAuth">
    <button mat-raised-button>ClientInfo</button>
    <button mat-raised-button color="warn" (click)="logout()" >Выйти</button>
  </div>

  <ng-template #notAuth>
    <div>
      <button mat-raised-button color="primary">Вход</button>
      <button mat-raised-button color="primary">Регистрация</button>
    </div>
  </ng-template>
  <button mat-raised-button (click)="test()">Test</button>
</nav>
