<mat-spinner *ngIf="loading; else loaded" class="loader"></mat-spinner>


<ng-template #loaded>

  <div class="container">
    <div>
      <form *ngIf="!client" class="card">
        <mat-form-field class="example-full-width">
          <mat-label>Выберите клиента</mat-label>
          <input type="text"
                 placeholder="Выберите клиента"
                 aria-label="Выберите клиента"
                 matInput
                 [formControl]="selectClientControl"
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let client of clients$ | async" [value]="client.name">
              {{client.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div class="m0auto">
          <button mat-raised-button (click)="selectClient($event)">Выбрать клиента</button>
        </div>
      </form>
    </div>

    <div *ngIf="client" class="card">
      <mat-card class="example-card" *ngIf="client">
        <mat-card-header>
          <mat-card-title>{{client.name}}</mat-card-title>
          <mat-card-subtitle>{{client.phone}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          {{client.comment}}
        </mat-card-content>
      </mat-card>

      <div *ngIf="client.cars; else createCar">
        <div *ngIf="!selectedCar; else selectedICar">
          <strong>Выберите автомобиль:</strong>
          <div *ngFor="let car of client?.cars">
            <app-car [car]="car" (newItemEvent)="addItem($event)"></app-car>
          </div>
        </div>
      </div>

      <ng-template #createCar>
        <app-create-car (newCarEvent)="addCar($event)"></app-create-car>
      </ng-template>
      <ng-template #selectedICar>
        <app-car [car]="selectedCar" [withButtons]="false"></app-car>
      </ng-template>
    </div>

    <div class="container card">
      <h3 class="fs15 m0auto">Работы</h3>

        <mat-form-field>
          <mat-label>Категория работ</mat-label>
          <mat-select [formControl]="selectJobType">
            <mat-option (click)="filterJobsByType($event)" value="Все категории">Все категории</mat-option>
            <mat-option (click)="filterJobsByType($event)" value="Без категории">Без категории</mat-option>
            <mat-option *ngFor="let type of types$ | async" (click)="filterJobsByType($event)" [value]="type">
              {{type | uppercase}}
            </mat-option>
          </mat-select>
        </mat-form-field>


      <form *ngIf="filteredJobs$" class="container">
        <mat-form-field>
          <mat-label>Добавьте работы</mat-label>
          <input type="text"
                 placeholder="Добавьте работы"
                 aria-label="Добавьте работы"
                 matInput
                 [formControl]="selectJobControl"
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let job of filteredJobs$ | async" [value]="job.overview">
              {{job.overview }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <div class="m0auto">
          <button mat-raised-button (click)="addJob($event)">Добавить</button>
        </div>
      </form>
    </div>


  <button mat-raised-button (click)="addNewJob = !addNewJob">Добавить новые работы
    <strong *ngIf="!addNewJob">&#709;</strong>
    <strong *ngIf="addNewJob">&#708;</strong>
  </button>
  <app-create-job *ngIf="addNewJob" (newJobEvent)="newJob($event)" [inOrder]="true"></app-create-job>

  <div *ngIf="jobsToOrder.length > 0" class="card">
    <strong>Выбранные работы:</strong>

    <div *ngFor="let job of jobsToOrder">
      <p>{{job.overview}} <span>{{job.price + 'Р'}}</span></p>
      <p>{{job.comment}}</p>
    </div>
    <p>Всего работ: <strong>{{jobsToOrder.length}}</strong></p>
    <p>На сумму: <strong>{{totalPrise}}Р.</strong></p>
  </div>

  <div>
    <form>
      <div class="card">
        <mat-form-field class="example-full-width">
          <mat-label>Текущий пробег</mat-label>
          <input matInput placeholder="Текущий пробег" type="number" [formControl]="nowMileageControl">
        </mat-form-field>
      </div>
      <div class="card">
        <mat-form-field class="example-full-width">
          <mat-label>Комментарии</mat-label>
          <textarea matInput placeholder="Комментарии к заказ-наряду" [formControl]="orderCommentControl"></textarea>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="m0auto">
    <button mat-raised-button color="primary"
            [disabled]="(!selectedCar || !client || jobsToOrder.length === 0 || btnDisables || nowMileageControl.invalid)"
            (click)="createOrder($event)">Создать заказ-наряд
    </button>
  </div>

  <div class="success" *ngIf="orderCreated" (click)="orderCreated = false">Заказ-наряд создан</div>
  </div>

</ng-template>
