<mat-spinner *ngIf="loading; else loaded" class="loader"></mat-spinner>

<ng-template #loaded class="container">
  <div *ngIf="!client" class="card">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Выберите клиента</mat-label>
        <input type="text"
               placeholder="Выберите клиента"
               aria-label="Выберите клиента"
               matInput
               [formControl]="selectClientControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <button mat-raised-button (click)="selectClient($event)">Добавить</button>
  </div>

  <div *ngIf="client" class="card fs15">
    <h3>{{client.name}}</h3>
    <p>{{client.phone}}</p>
    <p> {{client.comment}}</p>

    <div style="display: flex; flex-direction: row" *ngIf="!selectedCar; else selectedICar">
      <div *ngFor="let car of client?.cars" class="card fs07">
        <div>
          <p>{{car.mark}} <span>{{car.model}}</span></p>
          <p>{{car.year}} <span>{{car.number}}</span></p>
          <p>{{car.vin}}</p>
          <p>{{car.mileAge}}км</p>
          <small>{{car.comment}}</small>
          <button mat-raised-button (click)="selectCar($event, car)">Выбрать</button>
        </div>
      </div>
    </div>

    <ng-template #selectedICar>
      <h3>{{selectedCar?.mark}} {{selectedCar?.model}}</h3>
      <p>{{selectedCar?.year}}  {{selectedCar?.number}}</p>
      <p>{{selectedCar?.mileAge}}км.</p>
    </ng-template>


  </div>

  <div class="card">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Добавьте работы</mat-label>
        <input type="text"
               placeholder="Добавьте работы"
               aria-label="Добавьте работы"
               matInput
               [formControl]="selectJobControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredJobs | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <button mat-raised-button (click)="addJob($event)">Добавить</button>
  </div>

  <div *ngIf="jobsToOrder.length > 0" class="card">
    Выбранные работы:

    <div *ngFor="let job of jobsToOrder" class="card">
      <p>{{job.overview}} <span>{{job.price}}</span></p>
      <p>{{job.comment}}</p>
    </div>
  </div>

  <form class="example-form card">
    <mat-form-field class="example-full-width">
      <mat-label>Текущий пробег</mat-label>
      <input matInput placeholder="Текущий пробег" type="number" [formControl]="nowMileageControl">
    </mat-form-field>
  </form>

  <form class="card">
    <mat-form-field class="example-full-width">
      <mat-label>Комментарии</mat-label>
      <textarea matInput placeholder="Комментарии к заказ-наряду" [formControl]="orderCommentControl"></textarea>
    </mat-form-field>
  </form>

  <button mat-raised-button color="primary" (click)="createOrder($event)">Создать заказ</button>

</ng-template>
