/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px auto;
  //border-radius: 20px;
  //box-shadow: 1px 1px 3px #2D2D2DFF;
  //padding: 20px;

  button {
    margin: 20px 0
  }
}

.m0auto {
  margin: 0 auto;
  text-align: center;
}

.error {
  width: 30%;
  border-radius: 20px;
  box-shadow: 1px 1px 5px #e22b2b;
  padding: 20px;
  margin: 20px auto;

  //background: rgba(255, 255, 255, 0.24);
}

.success {
  width: 30%;
  border-radius: 20px;
  box-shadow: 1px 1px 3px #7bff7d;
  padding: 20px;
  margin: 20px auto;
  background: rgba(141, 252, 133, 0.24);
}

.textBlock {
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
}

.comment {
  font-style: italic;
}

.card {
  min-width: 300px;
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 1px 1px 3px #2D2D2DFF;
  border-radius: 20px;
  padding: 20px;
  vertical-align: center;
  margin: 20px auto;

  button {
    min-width: 60px;
    max-width: 200px;
  }
}

.mw100 {
  max-width: 100%;
}

.mw25 {
  max-width: 25%;
}

.fs15 {
  font-size: 1.5rem;
}

.fs07 {
  font-size: 0.7rem;
}


.shadow {
  display: inline-block;
  box-shadow: 1px 1px 3px #2d2d2d;
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
}

.loader {
  margin: 1.3rem auto;
  width: 50%;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.example-card {
  margin: 20px;
  max-width: 400px;
}

@media (min-width: 480px) {

}

.hover:hover {
  background: #bebebe;
  cursor: pointer;

}

button.active {
  background: rgba(0, 0, 0, 0.2);
}

a {
  font-family: Roboto,sans-serif;
  font-size: 1rem;
  color: #fff;
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  &:hover {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(178, 178, 178, 0.5);
  }
}

a.active {
  background: rgba(0, 0, 0, 0.2);
}
