/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 1px 1px 3px #4d2be2;
  padding: 20px;
}

.m0auto {
  margin: 0 auto;
  text-align: center;
}

.error {
  width: 30%;
  border-radius: 20px;
  box-shadow: 1px 1px 3px #e22b2b;
  padding: 20px;
  margin: 20px auto;
  background: rgba(226, 43, 43, 0.24);
}

.success {
  width: 30%;
  border-radius: 20px;
  box-shadow: 1px 1px 3px #7bff7d;
  padding: 20px;
  margin: 20px auto;
  background: rgba(141, 252, 133, 0.24);
}

.textBlock {
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
}

.comment {
  font-style: italic;
}

.card {
  //width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 1px 1px 3px #2f6fff;
  border-radius: 20px;
  padding: 20px;
  vertical-align: center;
  margin: 20px auto;
  button {
    min-width: 60px;
    max-width: 200px;
  }
}

.fs15 {
  font-size: 1.5rem;
}

.fs07 {
  font-size: 0.7rem;
}


.shadow {
  display: inline-block;
  box-shadow: 1px 1px 3px #2f6fff;
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
}

.loader {
  margin: 1.3rem auto;
  width: 50%;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.example-card {
  max-width: 400px;
}
