<div *ngIf="authObserve$ | async; else notAuth" class="container">
  <button mat-raised-button color="primary" routerLink="createClient">Добавить клиента</button>
  <button mat-raised-button color="primary" routerLink="clients">Клиенты</button>
  <button mat-raised-button color="primary" routerLink="orders">Заказы</button>
  <button mat-raised-button color="primary" routerLink="createJob">Добавить работу</button>
  <button mat-raised-button color="primary" routerLink="jobs">Работы</button>
</div>


<ng-template #notAuth>
  <div class="container">
    <button mat-raised-button color="primary" routerLink="login">Вход</button>
    <button mat-raised-button color="primary" routerLink="registration">Регистрация</button>
  </div>
</ng-template>
